<div id="initial-view" class="transition-all duration-500">
  <div class="text-center mb-10">
    <div class="flex justify-center gap-2 items-center">
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="text-cyan-500 dark:text-neon-blue">
          <path d="M6 16.326A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 .5 8.973" />
          <path d="m13 12-3 5h4l-3 5" />
        </svg>
      </div>
      <div class="flex flex-col">
        <span
          class="text-center text-cyan-500 dark:text-neon-blue font-semibold text-4xl tracking-widest">@config('login.title')</span>
        <p class="text-xs text-slate-500 dark:text-white/90 mt-1 uppercase tracking-widest">
          @config('login.description')
        </p>
      </div>
    </div>
  </div>
</div>